<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Donate to the Triple Crown for Heart</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container"></div>
    
    <script class="jstemplate-main" type="text/html">
        <div class="index">
            <h1>Triple Crown for Heart - Riders</h1>
            
            <ol class="riders">
                <% _.each(riders, function(rider) { %>
                    <li>
                        <a href="#<%- rider.id %>" class="riders_link">
                            <%- rider.name %>
                        </a>
                    </li>
                <% }); %>
            </ol>
        </div>
    </script>
    
    <script class="jstemplate-rider" type="text/html">
        <div class="cyclist">
            <h1>
                <%- rider.name %>
            </h1>
            
            <div class="deets">
                Is participating in the 
                <a href="http://triplecrownforheart.ca" target="_blank">Triple Crown for Heart</a>;
                
                a charity bike event encompassing three mountains:
                <a href="http://en.wikipedia.org/wiki/Mount_Seymour" target="_blank">Seymour</a>,
                <a href="http://en.wikipedia.org/wiki/Grouse_Mountain" target="_blank">Grouse</a>,
                and <a href="http://en.wikipedia.org/wiki/Cypress_Mountain_Ski_Area" target="_blank">Cypress</a>.

                <br><br>
                
                Proceeds of the event go to the
                <a href="http://www.bcchildrens.ca/Services/ChildrensHeartCentre/default.htm"
                    target="_blank">BC Children's Heart Centre</a>.
            </div>
        </div>
        
        <div class="donate">            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="return" value="http://donate.triplecrownforheart.com?thanks=1">
                <input type="hidden" name="rm" value="1">
                <input type="hidden" name="cancel_return" value="http://donate.triplecrownforheart.com">
                <input type="hidden" name="business" value="stephen@triplecrownforheart.com">
                <input type="hidden" name="item_name" value="Donation to the BC Children's Hospital Heart Unit">
                <input type="hidden" name="item_number" value="donate:">
                <input type="hidden" name="currency_code" value="CAD">
                <input type="hidden" name="custom" value="<%- {id: rider.id, message: 'hello!' } %>">
                <input type="submit" class="donation_btn" value="Donate Now">
            </form>
        </div>
    </script>
    
    <script src="script.js"></script>
</body>
</html>
