body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: #CA442B;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Vollkorn', serif;
    margin: 0.5em 0;
}

h1 {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.35;
}

.container {
    width: 85%;
    max-width: 600px;
    margin: 60px auto;
}
@media screen and (min-width: 600px) {
    .container {
        margin: 100px auto;
    }
}


.index {
    padding: 0 20px;
}
.index_mountains {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: white;
    margin-bottom: -6px;
}
.index_riders {
    margin-top: 20px;
    color: rgba(255,255,255,.3);
    font-size: 20px;
    padding-left: 0;
}
.index_riders li {
    margin: 15px 0;
}
.index_rider {
    font-size: 25px;
    text-decoration: none;
    color: rgba(255,255,255,.6);
    line-height: 1;
}
.index_rider:hover {
    color: rgba(255,255,255,.8);
}




.rider_home {
    position: absolute;
    top: 0;
    left: 0;
}
.rider_home svg {
    fill: rgba(0,0,0,.2);
    width: 30px;
    height: 30px;
    padding: 10px;
}
.rider_home:hover svg {
    fill: rgba(0,0,0,.5);
}


.rider_info {
    font-size: 22px;
    line-height: 2;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}
.rider_info_spacer {
    display: block;
    height: 1em;
}
.rider_info a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    padding: 0px 5px 3px;
    border-radius: 3px;
}
.rider_info a:hover {
    background: rgba(0, 0, 0, 0.2);
}


.rider_donate {
    margin-top: 20px;
}

.rider_donateinput {
    float: left;
    width: 80%;
    max-width: 300px;
    margin-top: 15px;
    margin-right: 20px;
    border: none;
    padding: 15px;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.8);
}
.rider_donateinput:focused {
    background: white;
}

.rider_donatebtn {
    cursor: pointer;
    display: inline-block;
    width: 175px;
    margin-top: 15px;
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-size: 18px;
    font-family: inherit;
    line-height: 1.2;
    color: rgb(160, 38, 15);
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    outline: 0;
    border: none;
}
.rider_donatebtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.rider_donatebtn svg {
    fill: rgb(160, 38, 15);
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 1px;
}

.rider_donateinfo {
    color: rgba(0,0,0,.5);
    margin-top: 15px;
    font-size: 16px;
}

.rider_donation {
    margin-bottom: 10px;
}



