body {
    font-family: 'Vollkorn', serif;
    background: #FF7D66;
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    line-height: 1.5em;
}

h1 {
    font-size: 40px;
    color: rgba(0,0,0,.7);
    line-height: 1.2;
}
        
.container {
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
}

.deets {
    font-family: 'Ovo';
    font-size: 22px;
    line-height: 1.8em;
}

.deets a {
    text-decoration: none;
    color: rgba(0,0,0,.6);
    background: rgba(0,0,0,.1);
    padding: 3px 5px;
    border-radius: 2px;
}

.deets a:hover {
    background: rgba(0,0,0,.2);
}
