{% extends "base.html" %}


{% block title %}
    <title>Triple Crown For Heart - Admin</title>
{% end %}


{% block style %}
    <style>
        #users {
            font-size: 18px;
            margin-top: 30px;
            width: 100%;
        }
        #users td.user {
            width: 80%;
        }
    </style>
{% end %}


{% block content %}
    <div class="page-header">
        <h1>Triple Crown For Heart - Admin</h1>
    </div>

    <div class="well">
        <a href="/new_user" class="btn btn-large btn-success">Add a new user</a>
        <a href="/welcome_email" class="btn btn-large btn-info">Edit Welcome Email</a>
    </div>
    <table id="users">
        {% for i, user in enumerate(users) %}
            <tr>
                <td class="user">
                    <a href="{{ user.href }}">{{ i + 1 }}. {{ user.name }}</a>
                </td>
                <td class="edit">
                    <a href="{{ user.href }}/edit?token={{ user.edit_token }}">Edit Profile</a>
                </td>
            </tr>
        {% end %}
    </table>
{% end %}

