<!DOCTYPE html>
<html>
<head>
	{% block title %}
    	<title>Triple Crown For Heart</title>
    {% end %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="/static/FontAwesome/css/font-awesome.css">
    <style>
        body {
            background: #eee url(/static/bgnoise.gif);
            padding: 4em 0;
        }
        #content {
            width: 450px;
            margin: auto;
            padding: 2em;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 5px #ddd;
            background: white;
        }
    </style>
    {% block style %}{% end %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <div id="content">
    	{% block content %}{% end %}
    </div>
</body>

</html>

