<!DOCTYPE html>
<html>
<head>
	{% block title %}
    	<title>Triple Crown For Heart</title>
    {% end %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="/static/FontAwesome/css/font-awesome.css">
    {% block base_style %}{% end %}
    {% block style %}{% end %}
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <div id="content">
    	{% block content %}{% end %}
    </div>
</body>

</html>

