{% extends "base.html" %}


{% block title %}
    <title>Triple Crown For Heart - Registration</title>
{% end %}


{% block content %}
    <div class="page-header">
        <h1>Triple Crown For Heart
            <small>Leaderboard</small>
        </h1>
    </div>

    <ol id="users">
        {% for user in users %}
            <li class="user">
                <span class="raised">${{ user.raised / 100 }}</span>
                <a href="/{{ user.key.id() }}/{{ user.slug }}">{{ user.name }}</a>
            </li>
        {% end %}
    </ol>
{% end %}


