{% extends "base_site.html" %}


{% block title %}
    <title>Triple Crown For Heart - Registration</title>
{% end %}


{% block style %}
    <style>
        #content {
            width: 500px;
        }
    </style>
{% end %}


{% block content %}
    <div class="page-header">
        <h1>Registration <small>Triple Crown For Heart</small></h1>
    </div>
    <div class="well">
        Online registration has closed, but don't worry, you can still register at the start of the event!
        <br><br>
        July 27th, 2013, 7:00 AM sharp @ Ron Andrew's Community Centre, 931 Lyton Street, North Vancouver.
        <br><br>
        See you there!
    </div>
{% end %}

