{% extends "base.html" %}

{% block title %}
	<title>{{ user.name }} - Triple Crown For Heart</title>
{% end %}


{% block style %}
	<style>
		#stats {
			margin-bottom: 15px;
		}
		#stats .progress_bar {
			float: left;
			position: relative;
			width: 35px;
			height: 200px;
			border: 4px solid #bbb;
			border-radius: 10px;
			padding: 3px;
			background: white;
		}
		#stats .progress_bar .bar {
			position: absolute;
			height: 0;
			bottom: 4px;
			width: 35px;
			background: #5BC0DE;
			border-radius: 4px;
		}
		#stats .raised {
			float: left;
			margin-left: 25px;
			width: 330px;
		}
		#stats .total {
			margin-bottom: 15px;
		}
		#stats .support {
			float: left;
			width: 45%;
		}
		#stats .donate {
			float: left;
			width: 170px;
			margin-top: 45px;
		}
		#stats .donate .btn {
			margin-left: 8px;
			margin-bottom: 5px;
			font-size: 18px;
		}
		#stats .donate .help-block {
			text-align: center;
			font-size: 14px;
			color: #777;
		}
		#stats .donate .help-block a {
			color: #666;
			font-weight: bold;
		}
		#stats h2 {
			font-size: 3em;
			margin-bottom: 10px;
		}
		#stats h3 {
			font-size: 2.4em;
			margin-bottom: 5px;
		}
		#stats strong {
			font-size: 1.2em;
			text-transform: uppercase;
		}
		#stats .donate {
			float: right;
		}

		blockquote { 
			position: relative;
		    color: #666;
		    font-size: 1.25em;
		    padding: 25px 5px 25px 30px;
		    font-style: italic;
		    margin: 25px 0 10px;
		}
		blockquote:before, blockquote:after { 
		    position: absolute;
		    font-size: 300%; 
		    color: #ccc; 
		    font-family: Futura;
		}
		blockquote:before { 
		    content: open-quote;
		    left: 7px;
			top: 5px;
		}
		blockquote:after { 
		    content: close-quote; 
		    right: 15px;
			bottom: -15px; 
		}

		.donation {
			margin-bottom: 15px;
		}
		.donation .total {
			padding-top: 5px;
			font-size: 1.5em;
			text-align: center;
		}

		#donate {
			width: 400px;
			margin-left: -195px;
		}

		.page-header {
			padding-bottom: 0;
			margin-top: 10px;
		}
		.page-header h1 {
			font-size: 35px;
		}
		#fb_like {
			height: 25px;
			margin: 7px 0;
		}

		#thanks {
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			padding: 20px;
		}
	</style>
{% end %}


{% block script %}
	<script>
		jQuery(function($){
			var raised = {{ user.raised }} / {{ user.goal }};
			var height = Math.min(raised * 198, 198) + 'px';
			$('#stats .progress_bar .bar')
				.delay(400)
				.animate({height: height}, 1000);

			$('#donate a.submit').click(function(){
				$(this).closest('form').submit();
				return false;
			});
			$('#donate input[name="amount"]').keyup(function(){
				this.value = this.value.replace(/[^\d]/,'');
			});
			$('#donate textarea[name="custom"]').keyup(function(){
				this.value = this.value.substring(0, 250);
			});
		});
	</script>
{% end %}


{% block content %}
	{% if admin %}
		<div id="admin_links">
			<a href="{{ user.href }}/edit?token={{ user.edit_token }}" class="btn btn-large btn-success pull-right">Edit Profile</a>
			<a href="/admin" class="btn btn-large pull-right">
				<i class="icon-arrow-left"></i> Back to Admin Page
			</a>
		</div>
	{% end %}

	<div class="page-header">
		<h1>
			{{ user.name }}
			<small>{{ user.title }}</small>
			<iframe id="fb_like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdonate.triplecrownforheart.com{{ url_escape(user.href) }}&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
		</h1>
	</div>

	{% if handler.get_argument('thanks', None) or handler.get_argument('payment_status', None) %}
		<div id="thanks" class="alert alert-success">
			Thank you for your donation!
		</div>
	{% end %}

	<div id="stats" class="well">
		<div class="progress_bar">
			<div class="bar"></div>
		</div>
		<div class="raised">
			<div class="total">
				<h2>{{ format_dollars(user.raised) }}</h2>
				<strong>raised of {{ format_dollars(user.goal) }} goal</strong>
			</div>
			<div style="clear:both"></div>
			<div class="support">
				<h3>{{ user.n_donations }}</h3>
				<strong>donations</strong>
				<br>
				<br>
				<h3>{{ days_left }}</h3>
				<strong>days left</strong>
			</div>
			<div class="donate">
				<a class="btn btn-large btn-success" data-toggle="modal" href="#donate">
					<i class="icon-heart"></i>
					Donate Now
				</a>
				<p class="help-block">
					Proceeds go to the<br>
					<a href="http://www.bcchildrens.ca/Services/ChildrensHeartCentre/default.htm" target="_blank">
						BC Children’s Heart Unit
					</a>
				</p>
			</div>	
		</div>
		<div style="clear:both"></div>
	</div>

    <form id="donate" class="modal hide" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="return" value="http://donate.triplecrownforheart.com{{ user.href }}?thanks=1">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="cancel_return" value="http://donate.triplecrownforheart.com{{ user.href }}">
        <input type="hidden" name="notify_url" value="http://donate.triplecrownforheart.com/paypal_ipn">
        <input type="hidden" name="business" value="triplecrownforheart@gmail.com">
        <input type="hidden" name="item_name" value="Donation to the BC Children's Hospital Heart Unit">
        <input type="hidden" name="item_number" value="{{ user.key.id() }}">
        <input type="hidden" name="currency_code" value="CAD">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Donate to the BC Children’s Heart Unit</h3>
        </div>
        <div class="modal-body">
        	<div class="alert alert-info">
        		A tax deductable receipt for donations above $20 will be sent by mail to your billing address.
        	</div>
            <div class="control-group">
                <label class="control-label">Donation Amount (in dollars)</label>
                <div class="controls">
                    <input name="amount" placeholder="50" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Comment (publically displayed on the donation page)</label>
                <div class="controls">
                    <textarea name="custom" class="span4" rows="4" placeholder="Good luck on your ride!"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        	<a class="submit btn btn-success btn-large">
        		Continue to PayPal
        		<i class="icon-arrow-right"></i>
        	</a>
        </div>
    </form>

	{% if user.quote %}
		<blockquote>{{ user.quote }}</blockquote>
	{% end %}

	<div class="page-header">
		<h2>Donations</h2>
	</div>

	{% if not donations %}
		<div class="row-fluid donation">
			None yet. Be the first!
		</div>
	{% end %}

	{% for donation in donations %}
		<div class="row-fluid donation">
			<div class="span2 total">${{ donation.amount }}</div>
			<div class="span4">
				<h3>{{ donation.donor_name }}</h3>
				<p>{{ donation.donor_comment }}</p>
			</div>
		</div>
	{% end %}
{% end %}


