{% extends "base_site.html" %}


{% block title %}
    <title>Triple Crown For Heart - Manage</title>
{% end %}


{% block script %}
    <script>
        $(function(){
            $('input.btn-warning').click(function(){
                if (confirm('Are you sure you want to remove this user?')){
                    $(this).closest('form')
                        .find('input[name="action"]')
                        .val('remove');
                } else {
                    return false;
                }
            });
        });
    </script>
{% end %}


{% block content %}
    <div class="page-header">
        <h1>
            Edit User
            <small>
                <a href="{{ user.href }}">{{ user.name }}</a>
            </small>
        </h1>
    </div>
    
    <form class="form-horizontal" method="post" action="">
        {% raw xsrf_form_html() %}
        <input type="hidden" name="edit_token" value="{{ user.edit_token }}">
        <input type="hidden" name="action" value="edit">
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" name="name" placeholder="John Doe" value="{{ user.name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <input type="text" name="email" placeholder="johndoe@email.com" value="{{ user.email }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Send Email</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" name="send_email" value="1" {% if not user %}checked{% end %}> Send welcome email
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
                <input class="required" type="text" name="phone" placeholder="555-555-5555" value="{{ user.phone }}">
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label">Registration</label>
            <div class="controls">
                {{ user.registration_type.capitalize() }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Payment</label>
            <div class="controls">
                {% if user.paid %}
                    Received: {{ user.paypal_txn_id }}
                {% else %}
                    Not received. 
                    {% if current_user %}
                        Set as received <input type="checkbox" name="set_payment_received" value="1">
                    {% end %}
                {% end %}
            </div>
        </div>

        <legend>Mailing Address</legend>
        <div class="control-group">
            <label class="control-label">Street</label>
            <div class="controls">
                <input class="required" type="text" name="street" placeholder="123 Broadway St" value="{{ user.street or '' }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">City</label>
            <div class="controls">
                <input class="required" type="text" name="city" placeholder="Vancouver" value="{{ user.city }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Province</label>
            <div class="controls">
                <input class="required" type="text" name="province" placeholder="BC" value="{{ user.province }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Postal Code</label>
            <div class="controls">
                <input class="required" type="text" name="postal_code" placeholder="1A1 A1A" value="{{ user.postal_code }}">
            </div>
        </div>

        <legend>Health &amp; Medical</legend>
        <div class="control-group">
            <label class="control-label">Emergency Contact</label>
            <div class="controls">
                <input class="required" type="text" name="emergency_contact" placeholder="Jane Doe" value="{{ user.emergency_contact }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Emergency Phone</label>
            <div class="controls">
                <input class="required" type="text" name="emergency_contact_phone" placeholder="555-555-5555" value="{{ user.emergency_contact_phone }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Birthdate (yyyy-mm-dd)</label>
            <div class="controls">
                <input class="required date" type="text" name="birth_date" placeholder="yyyy-mm-dd" value="{{ user.birth_date }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Guardian (if under 18 years)</label>
            <div class="controls">
                <input type="text" name="guardian" value="{{ user.guardian or '' }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">How many times do you exercise each week?</label>
            <div class="controls">
                <input class="digits" type="number" name="weekly_activity" placeholder="3"  value="{{ user.weekly_activity }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Do you have any health conditions?</label>
            <div class="controls">
                <textarea name="health_conditions">{{ user.health_conditions }}"</textarea>
            </div>
        </div>

        <legend>Donation Page (optional)</legend>
        <div class="control-group">
            <label class="control-label">Goal $</label>
            <div class="controls">
                <input type="text" name="goal" placeholder="200" value="{{ user.goal }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Title (optional)</label>
            <div class="controls">
                <input type="text" name="title" value="{{ user.title or 'Participant' }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Quote (optional)</label>
            <div class="controls">
                <input type="text" name="quote" placeholder="" value="{{ user.quote or '' }}">
            </div>
        </div>

        <legend>Cycling Info (optional)</legend>
        <div class="control-group">
            <label class="control-label">I chose to cycle</label>
            <div class="controls">
                <select name="mountains">
                    <option value="cypress" {% if user.mountains == 'cypress' %}selected{% end %}>Cypress</option>
                    <option value="grouse" {% if user.mountains == 'grouse' %}selected{% end %}>Grouse</option>
                    <option value="seymour" {% if user.mountains == 'seymour' %}selected{% end %}>Seymour</option>
                    <option value="all" {% if user.mountains == 'all' %}selected{% end %}>All 3 mountains</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Cycling Experience</label>
            <div class="controls">
                <select name="experience">
                    <option value="new" {% if user.experience == 'new' %}selected{% end %}>New</option>
                    <option value="intermediate" {% if user.experience == 'intermediate' %}selected{% end %}>Intermediate</option>
                    <option value="expert" {% if user.experience == 'expert' %}selected{% end %}>Expert</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Club ID Number (optional)</label>
            <div class="controls">
                <input type="text" name="club_id" value="{{ user.club_id or '' }}">
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label">What other endurance sports/cycling events have you participated in the in last 2 years?</label>
            <div class="controls">
                <textarea name="prev_events" rows="3">{{ user.prev_events or '' }}</textarea>
            </div>
        </div>


        <div class="form-actions">
            {% if user %}
                <input type="submit" class="btn btn-success" value="Save Changes">
                {% if current_user %}
                    <input type="submit" class="btn btn-warning" value="Remove User">
                {% end %}
            {% else %}
                <input type="submit" class="btn btn-success" value="Add User">
            {% end %}
        </div>
    </form>
{% end %}

