{% extends "base.html" %}


{% block title %}
    <title>Triple Crown For Heart - Edit Welcome Email</title>
{% end %}


{% block style %}
    <style>
        #content {
            width: 600px;
        }
    </style>
{% end %}


{% block content %}
    <div id="admin_links">
        <a href="/admin" class="btn btn-large pull-right">
            <i class="icon-arrow-left"></i> Back to Admin Page
        </a>
    </div>

    <div class="page-header">
        <h1>
            Welcome Email Template
        </h1>
    </div>
    
    <form class="" method="post" action="">
        {% raw xsrf_form_html() %}
        <div class="well">
            To add the donation page link to the template, use the placeholder:
            <strong>{% raw '{donation_link}' %}</strong>
            <br>
            To add the edit profile link use: <strong>{% raw '{edit_link}' %}</strong>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <textarea name="text" rows="30" style="width:100%">{{ email.text }}</textarea>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-success" value="Save Changes">
        </div>
    </form>
{% end %}